<div class="container">

  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">BitPanda</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cryptocoins']">Cryptocoins</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/commodities']">Commodities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/fiats']">Fiats</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/indexes']">Indexes</a>
                </li>
            </ul>
          </div>
        </nav>
      </div>
  </div>

  <div class="row info">
      <div class="col-12 mt-10">
          
          <router-outlet></router-outlet>

      </div>
  </div>

</div>
